- @user ||= User.new

.modal-body
  = form_for @user, :html => { :class=> 'form-horizontal' } do |f|
    .form-group
      %label.col-sm-3.control-label{:for => "inputUrl"} url:
      .col-sm-9
        = f.text_field :url, :class => 'form-control'
    .form-group
      .col-sm-offset-3.col-sm-9
        %button.btn.btn-success{:type => "submit"} Submit
