// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 60px;
}

#collapseTable {
  width: 200%;
  position: absolute;
  top: 0%;
  left: -100%;
}

.panel-title a {
  color: #2196f3;
}

.message-body {
  min-width: 255px;
}
