- @account ||= Account.new

.modal-body
  = form_for @account do |f|
    .input-group
      = f.text_field :email, :class => 'form-control'
      %span.input-group-btn
        %button.btn.btn-success{:type => "submit"} Submit
